body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#qa-block {
  margin-top: 20px;
}

.outerBox {
  width: 350px;
  background-color: #308dc0;
  border: 1px solid #e75551;
  margin: 40px 20px;
  box-sizing: border-box;
}

.middleBox {
  background-color: #ffa500;
  border: 1px solid #e75551;
  margin: 10px;
  padding: 10px;
}

.innerBox {
  background-color: #ddd;
  border: 1px solid #e75551;
  padding: 10px;
}
